<div class="container">
  <button (click)="makeRequest()" class="request-button">Make HTTP Request</button>

  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>

  <div *ngIf="result" [ngClass]="{ 'success': result === 'Operation successful!', 'error': result !== 'Operation successful!' }" class="result">
    <h3>{{ result }}</h3>
    <p *ngIf="retryCount > 0 && result !== 'Operation successful!'">Retrying... (Attempt {{ retryCount + 1 }})</p>
  </div>

  <div *ngIf="finalMessage" class="final-message error">
    <h3>{{ finalMessage }}</h3>
  </div>
</div>